node_modules
**/node_modules
dist
**/dist
dist-types
**/dist-types
coverage
**/coverage
*.tsbuildinfo

.env
.env.*
!.env.example

.git
.github
.idea
.vscode

packages/benchmark/runs
contracts/cache
contracts/out
contracts/broadcast
contracts/lib

*.log
*.sqlite
*.sqlite3
.data
